<Configuration xmlns="http://itude.com/schemas/MB/2.0">
    <Model>
        <Domains>
            <Include name="domains"/>
        </Domains>
        <Documents>
            <!-- ********************* Documents for Application Configuration ******************** -->
            <Include name="DOC-system"/>
            <!-- ********************* Documents for your application ******************** -->
            <Include name="documents"/>
        </Documents>
    </Model>
    <Controller>
        <Actions>
            <Include name="actions"/>
        </Actions>
        <Wiring>
            <Include name="outcomes"/>
            <Include name="OUTCOME-system"/>
        </Wiring>
    </Controller>
    <View>	
        <Dialogs>
            <Include name="dialogs"/>
            <!-- dialogs_mobbl is located in the mobbl framework -->
            <Include name="dialogs_mobbl"/>
        </Dialogs>
		<Include name="pages"/>
		<Include name="PAGE-exception"/>
    </View>
</Configuration>
